<div class='d-large-logo'>
  {{!-- <h1><span>Day</span>Jot</h1> --}}
  <h2>A simple, private journal for $1 a month, <span style='text-decoration: underline'>forever</span>.</h2>
  <h4>Get started below, DayJot is completely free for 30 days.</h4>
</div>