<p>Hi there,</p>

<p>
  Attached to this email is a text file containing all of your entries on DayJot.com.
</p>

<p>
  If you have any questions or concerns, please don't hesitate to repy to this email.
</p>

<p>
  Sincerely,
  <br />
  Your friendly DayJot Robot.
</p>