<label class="col-sm-3 control-label">{{view.day}}</label>
<div class="col-sm-9">
  {{view "select" content=view.times
                      optionLabelPath="content.name"
                      optionValuePath="content.value"
                      prompt=view.label
                      value=view.currentTime
                      class="form-control"}}
</div>