<div class='d-footer d-container'>
  © 2014 DayJot &middot; 
  {{#link-to "about"}}About{{/link-to}} DayJot &middot; 
  Contact us at <a href='mailto:hi@dayjot.com'>hi@dayjot.com</a> &middot; 
  Made with ♥ in LA by <a href='https://twitter.com/marbemac' target='_blank'>@marbemac</a>
</div>