{{view "site-nav"}}

<div class='d-panel'>  
  
  <div class='d-panel_content'>
    <div class='d-panel_name'>
      <div class='d-inner'>Hi. Welcome to DayJot.</div>
    </div>

    <div class='d-section'>
      <h2>
        Your private journal, for $1 a month.
        <br />
        Our pledge to you.
      </h2>
      <p>1. We'll never get acquired.</p>
      <p>2. We'll never shut down.</p>
      <p>3. You pay. We keep the lights on.</p>
    </div>

    <div class='d-section'>
      <h2>What</h2>
      <p>
        DayJot is your online, private journal, designed to last.    
      </p>
      <p>
        Every day, we send you friendly "How'd your day go?" emails. 
        You reply and write as much as you want.
        You end up with a neat collection of your life stories.
      </p>
      <p>
        It's permanent, private, and secure, as journals should be.
      </p>
      <p>
        Unlike other journal services, we ask that each member pay at least $1 per month to use the service.
        Your privacy is paramount. We don't sell your information, and we don't scan your
        entries to show you targeted ads. Your data is your data, all we do is 
        store it for you. A journal service that respects your privacy cannot realistically make money, 
        other than through direct payment from members. This is why we ask for at least $1.
      </p>  
    </div>

    <div class='d-section'>
      <h2>Why</h2>
      <p>
        Recently, a prominent free online journaling service, OhLife, shutdown. 
        A more permanent online journaling solution is needed, so that
        <a href='http://i.imgur.com/CUBQFIV.png' target='_blank'>this doesn't happen</a>.
        That said, DayJot is actually inspired by OhLife, so thank you!
      </p>
    </div>

    <div class='d-section'>
      <h2>Who</h2>
      <p>
        Who am I, you ask? My name is Marc MacLeod, and you can find me on twitter
        <a href='https://twitter.com/marbemac' target='_blank'>@marbemac</a>. 
      <p>
        I've
        been building websites and apps for over a decade, and created DayJot to fill 
        the need described above. I built it to run at minimal cost, and to be easy to
        extend and maintain. 
      </p>
      <p>
        I use this product myself, and I'm 100% confident.. ok, 99.99% confident in the pledge
        above. If you have any questions or concerns feel free to reach out to me on <a href='https://twitter.com/marbemac' target='_blank'>Twitter</a>,
        or at <a href='mailto:hi@dayjot.com'>hi@dayjot.com</a>.
      </p>
    </div>

    <div class='d-section'>
      <h2>Privacy</h2>
      <p>Privacy is <i>very</i> important at DayJot.</p>
      <p>Your personal information will never be shared or sold.</p>
      <p>All data sent to and from DayJot is encrypted and stored in a secure location.</p>
      <p>The DayJot database itself is encrypted, so even if an attacker got access to it, they could not read the information.</p>
      <p>No Facebook. No Twitter. No sharing. By design, DayJot is <i>not</i> a social website.</p>
      <p>Export your data anytime.</p>
      <p>To completely delete your entire account and all associated data, just email help@dayjot.</p>
    </div>

    <div class='d-section'>
      <h2>Open Source</h2>
      <p>
        DayJot is open source software. If you're concerned about security, or just want to run the service on your own private server, I 
        encourage you to check the code out at <a href='https://github.com/marbemac/dayjot' target='_blank'>https://github.com/marbemac/dayjot</a>.
      </p>
      <p>
        Contributions are, of course, welcome :).
      </p>

      <iframe src="https://dayjot.com/github-btn.html?user=marbemac&repo=dayjot&type=fork&size=large" allowtransparency="true" frameborder="0" scrolling="0" width="90" height="30"></iframe>
      <iframe src="https://dayjot.com/github-btn.html?user=marbemac&repo=dayjot&type=watch&size=large" allowtransparency="true" frameborder="0" scrolling="0" width="90" height="30"></iframe>
    </div>

  </div>

  <div class="github-fork-ribbon-wrapper right-bottom">
    <div class="github-fork-ribbon">
      <a href="https://github.com/marbemac/dayjot">Fork me on GitHub</a>
    </div>
  </div>

</div>