<div class='d-body'>

  {{#if session.currentUser}}
    {{#unless session.currentUser.planActive}}
      <div class="alert alert-danger alert-centered" role="alert">
        Your free trial has expired, and you have no active subscription.
        <br />
        You will not be able to create new entries until you activate your 
        subscription.

        <br /><br />
        {{#link-to "plans" class='btn btn-default'}}Become a Member{{/link-to}}
      </div>
    {{/unless}}
  {{/if}}

  {{outlet}}
</div>

{{partial "footer"}}