<div class='d-home-nav'>
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <h1 class="navbar-brand d-logo">
        {{#link-to 'index'}}<span>Day</span>Jot{{/link-to}}
      </h1>      
    </div>

    <ul class="nav navbar-nav navbar-right">
      <li>{{#link-to 'index'}}Home{{/link-to}}</li>
      <li>{{#link-to 'about'}}About{{/link-to}}</li>
      <li>{{#link-to 'login'}}Login{{/link-to}}</li>
      <li>{{#link-to 'register'}}Register{{/link-to}}</li>
    </ul>
  </div>
</div>