{{partial "home-nav"}}
<div class='d-screen-cover'>
  <div class='d-center-container dark'>    

    <div class='d-inner'>
      <h1>Login to DayJot</h1>
      {{partial "users/login-form"}}
    </div>
  </div>
</div>