{{partial "home-nav"}}
<div class='d-screen-cover'>
  <div class='d-center-container dark'>
    <div class='d-inner'>
      <h1>Reset Password</h1>

      {{#if reset_password_token}}
        {{partial "passwords/reset-finish-form"}}
      {{else}}
        {{partial "passwords/reset-start-form"}}
      {{/if}}
    </div>
  </div>
</div>