{{partial "home-nav"}}
<div class='d-screen-cover'>
  <div class='d-center-container dark'>    

    <div class='d-inner'>
      <h1>Sign Up for DayJot</h1>
    {{partial "users/register-form"}}
    </div>
  </div>
</div>