<p>Welcome to <a href='https://dayjot.com'>DayJot</a>, the simple, permanent journaling app.</p>

<p><b>How's your day going?</b> To get started, simply reply to this email with your first entry.</p>

<p>A few notes:</p>

<ul>
  <li>Only you can read what you write, so there is no wrong way to do this.</li>
  <li>You can reply to this email as many times as you like. Subsequent responses will be appended to your entry.</li>
  <li>You can optionally format your entry with <a href='https://daringfireball.net/projects/markdown/basics'>Markdown</a>, a simple markup syntax.</li>
</ul>

<p>If you have any questions, please don't hesitate to shoot an email to help@dayjot.com.</p>