<div class='d-panel_content d-what d-serif'>
  <div class='d-panel_name'>
    <div class='d-inner'>
      <span>{{pretty-time entryDate}}</span>
    </div>          
    <div class='d-sub'>
      <div>{{pretty-day entryDate}}</div>
    </div>
  </div>

  <div class='d-panel_actions'>
    {{#link-to "entries.edit" id class="btn btn-default" title='Edit Entry'}}
      <i class='fa fa-pencil'></i>
    {{/link-to}}
    <button class='btn btn-default' {{action "remove"}} title='Delete Entry'>
      <i class='fa fa-trash'></i> 
    </button>
  </div>  

  {{showdown-html body}}
</div>