<div class='row'>
  {{#if lengthOrSearching}}  
    <div class='col-xs-9'>
      {{view "entries/list"}}
    </div>

    <div class='col-xs-3 d-entry-sidebar'>
      {{#if search.length}}
        <ul class="list-group">
        
          <li class="list-group-item">
            {{#link-to "entries" (query-params when=when search="")}}
              Search Results
              <span class="badge">
                <i class='fa fa-times'></i>
              </span>
            {{/link-to}}            
          </li>
        </ul>
      {{/if}}
      
      <ul class="list-group">
        <li class="list-group-item">
          {{#link-to "entries" (query-params when="" search=search)}}
            Latest
          {{/link-to}}
        </li>
        {{#each month in session.currentUser.entryMonths}}
          <li class="list-group-item">
            {{#link-to "entries" (query-params when=month.year_month search=search)}}
              {{pretty-month month.year_month}}
              <span class="badge">{{month.count}}</span>
            {{/link-to}}
          </li>
        {{/each}}
      </ul>
    </div>

  {{else}}
    <div class='col-xs-12 d-no-entries'>
      <div class='d-one'>Ahh, a blank slate.</div>
      <div class='d-two'>We've sent you your first entry email. Simply reply to it and your entry will appear here.</div>
      <div class='d-or'>or</div>
      <div class='btn-group'>
        {{#link-to "entries.new" class='btn btn-default'}}write your first entry{{/link-to}}
        {{#link-to "importer" class='btn btn-default'}}import previous entries{{/link-to}}
        {{#link-to "settings" class='btn btn-default'}}manage email settings{{/link-to}}
      </div>
    </div>
  {{/if}}