.container 
  max-width $site-width 
  
.btn
.form-control
  border-radius 2px
  box-shadow none
  &:focus
  &.active
  &:active
    outline none
  
.form-control
  &:focus
    box-shadow none
    
.btn-primary
  background-color $action-color
  border-color $action-color
  border-bottom-color $action-color - 20%
  &:hover
    background-color $action-color - 10%
    border-color $action-color - 30%
.btn-info
  background-color $info-color
  border-color $info-color
  border-bottom-color $info-color - 20%
  &:hover
    background-color $info-color - 10%
    border-color $info-color - 30%
.btn-danger
  background-color $negative-color
  border-color $negative-color
  border-bottom-color $negative-color - 25%
  &:hover
    background-color $negative-color - 10%
    border-color $negative-color - 30%
.btn-default
  border-color #CCC
  border-bottom-color #CCC - 20%
  &:hover
    border-color #CCC - 30%

.navbar-default  
  border none
  box-shadow 0 0 1px rgba(0,0,0,0.5)
  border-radius 0
  background-color #FCFCFC
  margin-bottom $base-padding
  .navbar-nav
    li
      i
        font-size 12px
        position relative
        top -1px
        margin-right 5px
      &:hover
        color $highlight-color + 40%
      a.active
        color $highlight-color
        text-shadow 0 0 1px rgba($highlight-color, 0.5)
        &:hover
          color $highlight-color
          cursor default          
    .dropdown-toggle
      cursor pointer
      
.badge
  border-radius 50%
  font-size 10px
  padding 4px 0
  text-align center
  width 20px
  background transparent
  color rgba($site-text-color, 0.5)
  border 1px solid rgba(0,0,0,0.2)
  
.alert
  max-width $site-width
  margin 0 auto $base-padding auto
.alert-centered
  text-align center
  
.form-control[type="checkbox"]
  width auto
  height auto