.d-entry-sidebar
  .list-group-item
    padding 0
    background transparent
    a
      padding 10px 15px
      display block
      color rgba(black, 0.65)
      .badge
        float right
      &:hover
        background rgba($highlight-color, 0.1)
        cursor pointer
        .badge
          background $highlight-color
          border-color $highlight-color
          color white          
      &.active
        background $highlight-color
        cursor default
        background-image url($texture-url)
        color white
        a 
          color white
        i 
          display block
        .badge
          background white
          border-color white
          color $highlight-color
    &:first-child
      a
        border-radius 2px 2px 0 0
    &:last-child
      a    
        border-radius 0 0 2px 2px

.d-no-entries
  text-align center
  padding 150px 0
  .d-one
    font-size 30px
  .d-two
    font-size 20px
  .d-or
    margin $base-padding 0
    color $highlight-color
    font-size 20px
    font-weight bold
    
.d-entry-show
.d-entry-list_item
  .d-what
    font-size 20px
    line-height 30px
    p
      line-height 30px
    ul
      margin-bottom 15px
      list-style disc
      &:last-child
        margin-bottom 0
        
.d-entry-list_item
  background #FFF
  box-shadow 0 0 1px rgba(0,0,0,0.4)
  overflow hidden
  padding 50px 40px 35px 40px
  border-top 1px solid #EFEFEF
  position relative
  &:first-child
    border-top none
  .d-what
    padding-top 20px
  .d-when
    font-size 16px
    color $primary-color
  .d-when-subheader
    color #CCC
    font-size 14px
  .d-actions
    position absolute
    top 10px
    right 10px
    display none
    .btn
      font-size 10px
      padding 4px 8px
      opacity 0.75
      &:hover
        opacity 1
  &:hover
    .d-actions
      display block

.d-new-entry
  textarea
    border none
    box-shadow none
    outline none
    background-color transparent
    width 100%
    min-height 250px
    resize none
    padding 0
  .d-error-box
    margin-top 20px
    
.d-load-more-entries
  display block
  margin 25px 0 $base-padding 0
  
.entry-show
  .d-what 
    font-size 20px
    line-height 28px
    p
      font-size 20px
      line-height 30px
      margin-bottom 25px
      &:last-child
        margin-bottom 0