.d-home
  .row
    margin-left 0
    margin-right 0
  .d-top-half
    text-align center
    background-image url($contrast-texture-url)
    background-color #191919
    padding 50px 0
  .d-divider
    height 20px
    box-shadow 0 0 4px #333
    background-image url($contrast-texture-url)
    background-color $highlight-color
    &.muted
      height 10px
      box-shadow 0 0 1px rgba(0,0,0,0.5)
      background-image url($texture-url)
      background-color rgba(0,0,0,0.1)
  .container
    max-width 1200px
    width 100%

  .d-123
    padding 80px 0
    text-align center
    .d-name
      font-size 22px
      font-weight bold
      color $primary-color
      margin-bottom 10px
    p
      font-weight 300
      margin-bottom 8px
      font-size 16px 
      line-height 22px   


  .d-feature-container
    padding 70px 0
    background-color rgba(0,0,0,0.04)
    img
      width 100%
      display none
      box-shadow 0 0 2px rgba(0,0,0,0.5)
      border-radius 7px
      &.on
        display block
    .d-title
      font-size 24px
      font-weight 300
      margin 0 0 60px
      text-align center
      text-transform uppercase
      color rgba(0,0,0,0.8)
  .d-features
    padding-top 15px
    li
      opacity 0.3
      margin-bottom 50px
      cursor pointer
      position relative
      padding-left 100px
      &:last-child
        margin-bottom 0
      &:hover
        opacity 0.75
      &.on
        opacity 1
        cursor default
        p
          display block
    h2
      font-size 22px
      font-weight bold
      margin-bottom 10px
    p
      font-weight 300
      margin-bottom 8px
      font-size 16px 
      line-height 22px 
      display none  
    i
      border-radius 50%
      color white
      font-size 18px
      margin-top -20px
      padding 12px
      position absolute
      top 50%
      left 40px
      &.blue
        background-color #3498db
      &.green
        background-color #2ecc71
      &.yellow
        background-color #f1c40f
      &.teal
        background-color #1abc9c
      &.orange
        background-color #e67e22

  .d-open-source
    text-align center
    padding 80px 0
    i
      font-size 30px
      padding 20px
      color white
      display inline-block
      background-color #34495e
      border-radius 50%
    p
      font-size 22px
      margin-top 40px
      font-weight 300
      color rgba(0,0,0,0.75)
      line-height 34px
      
.d-home-nav
  position relative
  z-index 10
  margin-top -1 * $header-spacing
  .navbar-default
    margin-bottom 0
    box-shadow none
    .navbar-toggle
      border-color white
      font-size 16px
      padding 3px 8px
      color white
      &:hover
        color $action-color
  .navbar-header
    margin 0
  .navbar
    background-image url($contrast-texture-url)
    background-color #191919
    position relative  
  .d-logo
    a 
      color white
    span 
      background-color white
      color $highlight-color
  .nav
    li
      a
        color white
        &:hover
          text-decoration underline
          background-color transparent !important
          color white
        &.active
          color white
          &:hover
            color white
            text-decoration none
  