@media (max-width: 1024px)

  .d-nav
    position relative
    z-index 50
    background-color $body-bg-color
    background-image url($texture-url)
    transition none
    padding-left 0
    padding-right 0
    h1
      margin-left 1px
    h1
    .d-menu
    .d-menu-handle
      display inline-block
      i 
        margin-right 2px
    .d-menu
      z-index 51
      float right
      margin-right 3px
      &:hover
        .d-menu-handle
          color white
        ul
          display block
    ul
      display none
      position absolute
      right -20px
      top -13px
      z-index -1
      background $purple
      padding 50px 20px 20px 50px
      border-radius 0 0 2px 2px
      box-shadow 0 0 1px rgba(0,0,0,0.6)
      text-align right
      a
        color white      
        opacity 0.9
        &:hover
          color white
          opacity 1
    &:hover
      background inherit      

  .d-sidebar
    padding-top 0

  .d-settings
  .d-about
    >h1
      padding-top 20px

@media (max-width: 768px)
  .d-container
  .d-center-container
    padding-left 20px
    padding-right 20px

  .d-features 
    li
      margin-bottom 15px

  .d-home 
    .d-extra-features 
      li
        margin-bottom 5px

@media (max-width: 480px)        
  .d-container
  .d-center-container
    padding-left 10px
    padding-right 10px
  .d-content-sidebar
  .d-sidebar  
    padding 0
    width 100%
  .d-sidebar
    margin 20px 0
    width 100%
  .d-entry
    padding 30px 20px 20px
