html
body
  margin 0
  padding 0
  font-family 'Oxygen', 'Helvetica Neue', 'Helvetica', sans-serif
  color $site-text-color
  height 100%
  -webkit-overflow-scrolling touch

body 
  background-color $body-bg-color
  background-image url($texture-url)
  >.ember-view
    height 100%
    
h1
h2
h3
h4
h5
h6
  margin 0
  padding 0

ul
  list-style none
  margin 0
  padding 0

ol
  padding 0
  margin 0
  margin-bottom 15px

input
textarea
select
  font-family 'Oxygen', sans-serif

a 
  outline none
  text-decoration none
  color $purple
  &:focus
    outline none
    text-decoration none
  &:hover
    text-decoration none
  &:active
    outline none

p
  margin 0 0 15px 0
  line-height 26px
  .highlight
    background-color #f1c40f
    border-radius 2px
    color #fff
    display inline-block
    line-height 22px
    padding 3px 4px 0
    
.navbar
  position fixed
  top 0
  left 0
  right 0
  z-index 1000
  back
  
.d-body
  padding $header-spacing 0 $footer-height 0
  min-height 100%

.d-logo  
  text-transform uppercase
  a
    color $site-text-color + 10%
    transition all 0.2s ease-in-out
  span
    background-color #EEE
    margin-right 4px
    padding 1px 4px
    border-radius 2px
    transition all 0.2s ease-in-out
  &:hover
    a    
      color $highlight-color
    span
      background $highlight-color
      color #FFF
        
.calendar-date-picker
  position relative
  .btn
    position absolute
    top -1px
    left 0
  input
    cursor pointer !important
    background-color transparent !important
    color $primary-color
    border none !important
    text-align center

.d-panel
  margin auto  
  position relative
  margin-bottom $base-padding
  max-width $site-width
  
  h2
    color $secondary-color
    font-size 24px
    margin-bottom 20px
    line-height 32px
    small
      margin-left 10px
      font-size 0.5em
  .d-section
    padding $base-padding 0
    border-bottom 1px solid #DDD
    label
      text-transform capitalize
      text-align left
      font-size 14px
    .form-group
      max-width 500px
      small
        font-size 0.6em
        color #999
        margin-left 12px
      &:last-child
        margin-bottom 0
    .btn
      margin-top 20px
    p
      font-weight 400
      font-size 14px
    &:nth-child(2)
      padding-top ($base-padding / 2)
    &:last-child
      padding-bottom 0
      border-bottom none

.d-panel_name
  font-size 24px
  padding 0 $base-padding ($base-padding / 2.5) $base-padding
  margin-bottom $base-padding
  text-align center
  border-bottom 1px solid #DDD
  position relative
  >.d-inner
    color $primary-color
    display inline-block
  .d-sub
    position absolute
    left 0
    bottom -12px
    right 0
    text-align center
    div
      background-color #fff
      display inline-block
      font-size 18px
      padding 0 15px
      color #CCC
      position relative
      &:before
        position absolute
        width $base-padding
        top 0
        right 100%
        bottom 0
        background linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 90%)
        content " "
      &:after
        position absolute
        width $base-padding
        top 0
        left 100%
        bottom 0
        background linear-gradient(to left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 90%)
        content " "
  .calendar-date-picker
    input
      font-size 24px

@media (-webkit-min-device-pixel-ratio:0)
 .d-panel_name
   .calendar-date-picker
    input
      padding 0 
      
.d-panel_content
  background-color white
  border-radius 10px  
  padding $base-padding
  box-shadow 0 0 2px rgba(black, 0.34)
  font-size 18px
  position relative
  .d-panel_actions
    position absolute
    top $base-padding + 2
    right $base-padding
    .btn
      font-size 11px
      padding 3px 7px
      opacity 0.4
      &:hover
        opacity 1
  p
    &:last-child
      margin-bottom 0
.d-panel_top-actions
  text-align center
  margin-bottom $base-padding
  .btn
    width 90px
  i
    margin 0 3px
    font-size 11px
.d-panel_bottom-actions
  text-align center
  margin $base-padding 0
  display block
  
.d-footer
  height $footer-height
  text-align center
  background-image url($contrast-texture-url)
  background-color #191919
  padding 15px 0
  font-size 13px
  border-top 5px solid rgba($highlight-color, 0.75)
  color rgba(white, 0.75)
  margin-top -1 * $footer-height
  a 
    color white
    &:hover
      text-decoration underline

.d-large-logo
  h1
    color #FFF
    text-transform uppercase
    font-weight 400
    font-size 24px
    span
      background-color #fff
      color $highlight-color  
      margin-right 6px
      padding 0 5px
      border-radius 1px
  h2
    color #FFF
    font-size 30px
    font-weight 300
    margin 15px 0 0 0
  h4
    color white
    color rgba(white, 0.7)
    font-weight 300
    margin 15px 0 60px
    
.d-screen-cover
  position fixed
  top 0
  left 0
  right 0
  bottom $footer-height  

.d-center-container
  text-align center
  height 100%
  width 100%
  display table
  .d-inner
    display table-cell
    vertical-align middle
    padding 50px 0
    >h1
      font-weight 300
      color white
      margin-bottom 50px
  &.dark
    background-image url($contrast-texture-url)
    background-color #191919 