.d-serif
  font-family 'Halant', serif
  input
  textarea
    font-family 'Halant', serif

.d-list-none
  padding $base-padding 0

.fadeout
  -webkit-transition opacity 0.5s ease-in-out !important
  -moz-transition opacity 0.5s ease-in-out !important
  -ms-transition opacity 0.5s ease-in-out !important
  -o-transition opacity 0.5s ease-in-out !important
  transition opacity 0.5s ease-in-out !important
  opacity 0 !important

.d-positive
  color $positive-color

.d-negative
  color $negative-color

.d-highlight
  color $highlight-color