// Structure

$site-width = 960px
$panel-max-width = 800px
$base-padding = 40px
$texture-url = "/assets/patterns/groovepaper.png"
$contrast-texture-url = "/assets/patterns/low-contrast-linen.png"
$header-spacing = 95px
$footer-height = 55px


// Colors

$site-text-color = #333
$body-bg-color = #fffffa

$primary-color = #2980b9
$secondary-color = #2980b9 + 40%
$positive-color = #27ae60
$negative-color = #c0392b
$info-color = #3498db
$action-color = #f39c12
$highlight-color = #8e44ad
$yellow = #f1c40f